node_modules
dist
*.log
*.png
*.jpg
*.spec.ts
nohup.out
mongodb-data
backend-output.log
frontend-output.log
backend.log
frontend.log
dev-server.log
server-status.txt
.env
.env.*
temp
test-results
carousel-screenshots
.DS_Store
.certs
*.mjs
